In [2]:
pip install ipython-sql

Defaulting to user installation because normal site-packages is not writeable

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7f438b3aa980>, 'Connection to pypi.org timed out. (connect timeout=15)')': /simple/ipython-sql/

WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7f438b3aac80>, 'Connection to pypi.org timed out. (connect timeout=15)')': /simple/ipython-sql/

WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7f438b3aae00>, 'Connection to pypi.org timed out. (connect timeout=15)')': /simple/ipython-sql/

WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7f438b3aaef0>, 'Connection to pypi.org timed out. (connect timeout=15)')': /simple/ipython-sql/

WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7f438b3ab070>, 'Connection to pypi.org timed out. (connect timeout=15)')': /simple/ipython-sql/

ERROR: Could not find a version that satisfies the requirement ipython-sql (from versions: none)
ERROR: No matching distribution found for ipython-sql

Note: you may need to restart the kernel to use updated packages.

In [0]:
pip install --proxy=user:pass@server:port numpy

In [3]:
import os
import mysql.connector

ModuleNotFoundError: No module named 'mysql'

In [4]:
import mysql.connector

# Connect to MySQL database server
db = mysql.connector.connect(
    host="127.0.0.1",
    port=3306,
    user="root",
    password="Kagomathi96@123")

ModuleNotFoundError: No module named 'mysql'

In [5]:
!pip install mysql-connector-python

╔══════════════════════════════╦════════════════════════════════╗
║   ⚠   NETWORK DISABLED  ⚠    ║   ⚠   NO INTERNET ACCESS  ⚠    ║
╠══════════════════════════════╩════════════════════════════════╣
║ This project does not have access to the internet.            ║
║ Add a valid license in order to enable internet access.       ║
║ Otherwise, you cannot pull from a Git repository, use cURL,   ║
║ wget, download Python packages from PyPI, etc.                ║
║ Requests to load data will fail or hang indefinitely.         ║
║                                                               ║
║            https://cocalc.com/store/site-license              ║
║                                                               ║
╟───────────────────────────────────────────────────────────────╢
║ Note: You can't become 'root' on CoCalc for security reasons. ║
╚═══════════════════════════════════════════════════════════════╝

Defaulting to user installation because normal site-packages is not writeable

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7fd2145f6ad0>, 'Connection to pypi.org timed out. (connect timeout=15)')': /simple/mysql-connector-python/

WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7fd2145f6dd0>, 'Connection to pypi.org timed out. (connect timeout=15)')': /simple/mysql-connector-python/

WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7fd2145f6f50>, 'Connection to pypi.org timed out. (connect timeout=15)')': /simple/mysql-connector-python/

WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7fd2145f7040>, 'Connection to pypi.org timed out. (connect timeout=15)')': /simple/mysql-connector-python/

WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7fd2145f71c0>, 'Connection to pypi.org timed out. (connect timeout=15)')': /simple/mysql-connector-python/

In [0]:
username = os.environ.get('')
password = os.environ.get('')
host = os.environ.get('')

In [0]:
connection = mysql.connector.connect(host = host,
                              port = #optional,
                              user = username,
                              passwd = password,
                              database = #database
                                     )

In [0]:
auth_plugin='mysql_clear_password'

In [0]:
#Load required libraries
import mysql.connector
import pandas as pd

In [0]:
## Lets make a connection to Mysql server and create a database named 'e_commerce'
connection = mysql.connector.connect(host ="localhost",
                                     user ="root",
                                     passwd ="password")
 
## creating a cursor object
cursorObject = connection.cursor()
 
## creating database
cursorObject.execute("CREATE DATABASE e_commerce")

## closing the connection after creating a database('e_commerce')
connection.close()

In [0]:
#Create tables for supplier, customer, category, product, productDetails, order, rating to store the data for the E-commerce with the schema definition given below
# Connect to Mysql server and choose the database('e_commerce') while connecting to the server
connection = mysql.connector.connect(host ="localhost",
                                     user ="root",
                                     passwd ="password",
                                     database = "e_commerce")

# creating a cursor object
cursorObject = connection.cursor()

In [0]:
## Solution for Q1: Creating tables 

table_creation_query =  """CREATE TABLE supplier (`SUPP_ID` int primary key,`SUPP_NAME` varchar(50) ,
                    `SUPP_CITY` varchar(50),`SUPP_PHONE` varchar(10));
                    
                    CREATE TABLE customer (`CUS_ID` INT NOT NULL,`CUS_NAME` VARCHAR(20) NULL DEFAULT NULL,
                    `CUS_PHONE` VARCHAR(10),`CUS_CITY` varchar(30) ,`CUS_GENDER` CHAR,PRIMARY KEY (`CUS_ID`));
                    
                    CREATE TABLE category (`CAT_ID` INT NOT NULL,`CAT_NAME` VARCHAR(20) NULL DEFAULT NULL,
                    PRIMARY KEY (`CAT_ID`));

                    CREATE TABLE product (`PRO_ID` INT NOT NULL,`PRO_NAME` VARCHAR(20) NULL DEFAULT NULL,
                    `PRO_DESC` VARCHAR(60) NULL DEFAULT NULL,`CAT_ID` INT NOT NULL,PRIMARY KEY (`PRO_ID`),
                    FOREIGN KEY (`CAT_ID`) REFERENCES CATEGORY (`CAT_ID`));
                     
                    CREATE TABLE product_details (`PROD_ID` INT NOT NULL,`PRO_ID` INT NOT NULL,`SUPP_ID` INT NOT NULL,
                    `PROD_PRICE` INT NOT NULL, PRIMARY KEY (`PROD_ID`),FOREIGN KEY (`PRO_ID`) REFERENCES PRODUCT (`PRO_ID`),
                    FOREIGN KEY (`SUPP_ID`) REFERENCES SUPPLIER(`SUPP_ID`));
                      
                    CREATE TABLE orders (`ORD_ID` INT NOT NULL,`ORD_AMOUNT` INT NOT NULL,`ORD_DATE` DATE,
                    `CUS_ID` INT NOT NULL,`PROD_ID` INT NOT NULL, PRIMARY KEY (`ORD_ID`),
                    FOREIGN KEY (`CUS_ID`) REFERENCES CUSTOMER(`CUS_ID`),
                    FOREIGN KEY (`PROD_ID`) REFERENCES PRODUCT_DETAILS(`PROD_ID`));
                    
                    CREATE TABLE rating (`RAT_ID` INT NOT NULL,`CUS_ID` INT NOT NULL,
                    `SUPP_ID` INT NOT NULL,`RAT_RATSTARS` INT NOT NULL,PRIMARY KEY (`RAT_ID`),
                    FOREIGN KEY (`SUPP_ID`) REFERENCES SUPPLIER (`SUPP_ID`),
                    FOREIGN KEY (`CUS_ID`) REFERENCES CUSTOMER(`CUS_ID`));"""

# Executing the query
cursorObject.execute(table_creation_query)

In [0]:
#Insert the following data in the table created
## After creating tables close the connection and reconnect to the server for inserting the data 

## closing the connection 
connection.close()
## Lets make a connection to Mysql server and choose database 'e_commerce'
connection = mysql.connector.connect(host ="localhost",
                                     user ="root",
                                     passwd ="password",
                                     database='e_commerce')
## creating a cursor object
cursorObject = connection.cursor()

In [0]:
## Inserting Values into "supplier" table

insert_query = "INSERT INTO supplier (SUPP_ID, SUPP_NAME, SUPP_CITY, SUPP_PHONE) VALUES (%s, %s, %s, %s)"
val = [(1,"Rajesh Retails","Delhi",'1234567890'),
       (2,"Appario Ltd.","Mumbai",'2589631470'),
       (3,"Knome products","Banglore",'9785462315'),
       (4,"Bansal Retails","Kochi",'8975463285'),
       (5,"Mittal Ltd.","Lucknow",'7898456532')]

   
cursorObject.executemany(insert_query, val)
connection.commit()

In [0]:
## Inserting Values into "customer" table

insert_query = "INSERT INTO customer (CUS_ID, CUS_NAME, CUS_PHONE, CUS_CITY, CUS_GENDER) VALUES (%s, %s, %s, %s, %s)"
val = [(1,"AAKASH",'9999999999',"DELHI",'M'),
       (2,"AMAN",'9785463215',"NOIDA",'M'),
       (3,"NEHA",'9999999999',"MUMBAI",'F'),
       (4,"MEGHA",'9994562399',"KOLKATA",'F'),
       (5,"PULKIT",'7895999999',"LUCKNOW",'M')]


cursorObject.executemany(insert_query, val)
connection.commit()

In [0]:
## Inserting Values into "category" table

insert_query = "INSERT INTO category (CAT_ID, CAT_NAME) VALUES (%s, %s)"
val = [(1,"BOOKS"),
       (2,"GAMES"),
       (3,"GROCERIES"),
       (4,"ELECTRONICS"),
       (5,"CLOTHES")]


cursorObject.executemany(insert_query, val)
connection.commit()

In [0]:
## Inserting Values into "product" table

insert_query = "INSERT INTO product (PRO_ID, PRO_NAME, PRO_DESC, CAT_ID) VALUES (%s, %s, %s, %s)"
val = [(1,"GTA V","DFJDJFDJFDJFDJFJF",2),
       (2,"TSHIRT","DFDFJDFJDKFD",5),
       (3,"ROG LAPTOP","DFNTTNTNTERND",4),
       (4,"OATS","REURENTBTOTH",3),
       (5,"HARRY POTTER","NBEMCTHTJTH",1)]


cursorObject.executemany(insert_query, val)
connection.commit()

In [0]:
## Inserting Values into "product_detials" table

insert_query = "INSERT INTO product_details (PROD_ID, PRO_ID, SUPP_ID, PROD_PRICE) VALUES (%s, %s, %s, %s)"
val = [(1,1,2,1500),
       (2,3,5,30000),
       (3,5,1,3000),
       (4,2,3,2500),
       (5,4,1,1000)]


cursorObject.executemany(insert_query, val)
connection.commit()

In [0]:
## Inserting Values into "orders" table

insert_query = "INSERT INTO orders (ORD_ID, ORD_AMOUNT, ORD_DATE, CUS_ID, PROD_ID) VALUES (%s, %s, %s, %s, %s)"
val = [(20,1500,"2021-10-12",3,5),
       (25,30500,"2021-09-16",5,2),
       (26,2000,"2021-10-05",1,1),
       (30,3500,"2021-08-16",4,3),
       (50,2000,"2021-10-06",2,1)]


cursorObject.executemany(insert_query, val)
connection.commit()

In [0]:
## Inserting Values into "rating" table

insert_query = "INSERT INTO rating (RAT_ID, CUS_ID, SUPP_ID, RAT_RATSTARS) VALUES (%s, %s, %s, %s)"
val = [(1,2,2,4),
       (2,3,4,3),
       (3,5,1,5),
       (4,1,3,2),
       (5,4,5,4)]


cursorObject.executemany(insert_query, val)
connection.commit()

In [0]:
##Display the number of the customer group by their genders who have placed any order of amount greater than or equal to Rs.3000
Query3=     """select customer.cus_gender,count(customer.cus_gender) as count 
            from customer inner join `orders` on customer.cus_id=`orders`.cus_id 
            where `orders`.ord_amount>=3000 group by customer.cus_gender;"""


cursorObject.execute(Query3)
output = cursorObject.fetchall()

## Lets put the output of this query in pandas DataFrame
output_df = pd.DataFrame(output, columns=['CUS_GENDER','COUNT'])
output_df

In [2]:
#Find the category of the product whose order amount is minimum
Query6=     """select category.* 
               from `orders` inner join product_details on `orders`.prod_id=product_details.prod_id 
               inner join product on product.pro_id=product_details.pro_id 
               inner join category on category.cat_id=product.cat_id having min(`orders`.ord_amount);"""

cursorObject.execute(Query6)
output = cursorObject.fetchall()


output_df = pd.DataFrame(output, columns=['CAT_ID','CAT_NAME'])
output_df

NameError: name 'cursorObject' is not defined

In [0]:
#Display the Id and Name of the Product ordered after “2021-10-05”
Query7=     """select product.pro_id,product.pro_name 
               from `orders` inner join product_details on product_details.prod_id=`orders`.prod_id 
               inner join product on product.pro_id=product_details.pro_id where `orders`.ord_date>"2021-10-05";"""

cursorObject.execute(Query7)
output = cursorObject.fetchall()


output_df = pd.DataFrame(output, columns=['PRO_ID','PRO_NAME'])
output_df

In [0]:
#Print the top 3 supplier name and id and rating on the basis of their rating along with the customer name who has given the rating
Query8=     """select supplier.supp_id,supplier.supp_name,customer.cus_name,rating.rat_ratstars 
               from rating inner join supplier on rating.supp_id=supplier.supp_id 
               inner join customer on rating.cus_id=customer.cus_id order by rating.rat_ratstars desc limit 3;"""

cursorObject.execute(Query8)
output = cursorObject.fetchall()


output_df = pd.DataFrame(output, columns=['SUPP_ID','SUPP_NAME','CUS_NAME','RAT_RATSTARS'])
output_df

In [0]:
#Display customer name and gender whose names start or end with character 'A'
Query9=     """select customer.cus_name ,customer.cus_gender 
               from customer where customer.cus_name like 'A%' or customer.cus_name like '%A';"""

cursorObject.execute(Query9)
output = cursorObject.fetchall()
   
    
output_df = pd.DataFrame(output, columns=['CUS_NAME','CUS_GENDER'])
output_df

In [0]:
#Display the total order amount of the male customers.
Query10=     """select sum(`orders`.ord_amount) as Amount 
                from `orders` inner join customer on `orders`.cus_id=customer.cus_id where customer.cus_gender='M';"""

cursorObject.execute(Query10)
output = cursorObject.fetchall()


print("Amount is",output);

In [0]:
#Display all the Customers left outer join with  the orders
Query11=     """select *  from customer left outer join `orders` on customer.cus_id=`orders`.cus_id;"""

cursorObject.execute(Query11)
output = cursorObject.fetchall()


output_df = pd.DataFrame(output, columns=['CUS_ID','CUS_NAME','CUS_PHONE','CUS_CITY','CUS_GENDER','ORD_ID','ORD_AMOUNT','ORD_DATE','CUS_ID','PROD_ID'])
output_df

In [0]:
## closing the connection
connection.close()